footer
  div.layout
    block footer
      section#bio
        p.
          <em>Hi, I'm Luke.</em> I write code and build products for the 
          web in Vancouver, BC. JavaScript is my weapon of choice. 
          Blogging about education, business, and architecture.

      section.contact
        ul.shareicons
          li(data-icon='t')
            a(href='http://twitter.com/LukeVivier') follow me on twitter
          li(data-icon='g')
            a(href='https://github.com/lvivier') hot forking action
          li(data-icon='m')
            a(href='mailto:luke@vivier.ca') email me
      section.contact
        ul.shareicons
          li(data-icon='r')
            a(href='http://www.rdio.com/people/lukevivier/') follow me on rdio
          li(data-icon='i')
            a(href='http://instagram.com/lukevivier/') look at this instagram
          li(data-icon='o')
            a(href='https://foursquare.com/user/42829265') stalk me on foursquare
    small(data-icon='cp').
      &nbsp;Licensed under a Creative Commons Attribution 3.0 Unported License.
