
extends layout

block content
  article.post
    header
      a(rel='self' href='/'+path): h1= title
    footer
      time(datetime=time('%Y-%m-%d', date))= time('%A, %B %d %Y', date)
    != contents
