footer
  div.row
    block footer
      section#bio
        p.
          <em>Hi, I'm Luke.</em> 
          I sling JavaScript, ride bikes, and climb mountains in 
          beautiful <a href='//bit.ly/1q1RBqq'>Vancouver</a>. 
          This site isn't connected to or endorsed by 
          <a title='Retsly' href='//rets.ly'>my employer</a> in any way.

      section.contact
        ul.shareicons
          li: a.icon-twitter(href='http://twitter.com/LukeVivier'): span follow me on twitter
          li: a.icon-github(href='https://github.com/lvivier'): span follow me on github
          li: a.icon-email(href='mailto:luke@vivier.ca'): span email me
      section.contact
        ul.shareicons
          li: a.icon-rdio(href='http://www.rdio.com/people/lukevivier/'): span listen with me on rdio
          li: a.icon-instagram(href='http://instagram.com/lukevivier/'): span look at this instagram
          li: a.icon-linkedin(href='https://ca.linkedin.com/in/lvivier'): span connect on linkedin
    small.icon-cc.
      &nbsp;Licensed under a Creative Commons Attribution 3.0 Unported License.
