
extends layout

block append meta
  meta(name='google-site-verification',
       content='wSa31lNSwA4L50Wm7LD6yqZzn29TUgAwQMjtxQNyel8')

block content
  ul.articles
    each article in articles
      li: +summary(article)

mixin summary (obj)
  time= time('%Y %b %d', obj.date)
  div.title
    a(href=obj.path)= obj.title
  .summary!= obj.excerpt
