doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    block meta
    link(rel='stylesheet' href='/style/index.css')
    link(rel='stylesheet' href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic')
    title= title
  body
    header
      div.row
        a(href='/'): h1.logo luke vivier
    main
      div.row
        block content
    include footer
    script(src='/build.js')
