@font-face
  font-family: 'icons'
  src:url('icons.eot')
  src:url('icons.eot?#iefix') format('embedded-opentype'),
    url('icons.woff') format('woff'),
    url('icons.ttf') format('truetype'),
    url('icons.svg#icons') format('svg')
  font-weight: normal
  font-style: normal

[data-icon]:before
  content: attr(data-icon)

[class^="icon-"]:before,
[class*=" icon-"]:before
  font-family: 'icons'
  speak: none
  font-weight: normal
  font-variant: normal
  text-transform: none
  line-height: 1
  -webkit-font-smoothing: antialiased

.icon-twitter:before
  content: 't'

.icon-github:before
  content: 'g'

.icon-email:before
  content: 'm'

.icon-rdio:before
  content: 'r'

.icon-instagram:before
  content: 'i'

.icon-foursquare:before
  content: 'o'

.icon-cc:before
  content: 'cp'
