
/**
 * Dependencies
 */

@import '../../node_modules/nib'
@import '../views/grid'
@import '../views/vars'


/**
 * Reset
 */

global-reset()


/**
 * App layout
 */

columns = 12;
column-width = 60;
gutter-width = 20;

html
  position: relative
  min-height: 100%

div.row
  row(12)
  margin: 0 auto


/**
 * Type
 */

body
  font-family: 'Lato', sans-serif
  font-weight: 300
  line-height: line-height
  font-size: font-size
strong, b
  font-weight: bold
em, i
  font-style: italic
small
  font-size: font-small-size
p + p
  text-indent: 1em
p.lede
  // TODO
pre
  background: #f9f9f6
  border-radius: 5px
  margin: (line-height / 2) 0
  padding: (line-height * 0.66)
  font-size: 15px
  line-height: (line-height * 0.66)
code
  font-family: mono
  font-size: 18px
pre code
  font-size: 14px


/**
 * Body
 */

body
  background: #fbfbfb
  color: #333
  margin-bottom: 256px
body > main
  padding: (line-height * 3) 0
  min-width: 100%


/**
 * Page Header
 */

body > header
  position: absolute
  border-top: 3px solid lvivier
  min-width: 100%
  a
    text-decoration: none
  h1.logo
    display: inline-block
    background: lvivier
    color: white
    padding: 0.5em
    transition: padding-top .4s, margin-bottom .4s
  h1.logo:hover
    padding-top: 1em
    margin-bottom: -.5em


/**
 * Page Footer
 */

body > footer
  background: #333
  color: #ddd
  font-size: 18px
  line-height: (line-height * .75)
  min-width: 100%
  padding-top: (line-height * 1.5)
  border-top: 3px solid #ddd
  position: absolute
  bottom: 0

  a
  a:visited
    color: #999
    transition: color .3s
    text-decoration: none
    border-bottom: 1px dotted #666
  a:hover
    color: #eee

  section.contact
    column(3)
  section#bio
    line-height: 30px
    column(5)
    pull(1)
  small
    color: #777
    clear: both
    display: block
    width: 100%
    padding: (line-height / 2) 0
    margin-left: 10px
  small:before
    color: #aaa
    letter-spacing: 1px


/**
 * Articles List
 */

ul.articles
  li
    row()
    margin: line-height 0
  time
    column(2)
    position: relative
    top: 5px
    text-align: right
    text-transform: uppercase
    font-size: font-small-size
  .title
    column(8)
    font-size: 30px
    font-weight: normal
  .title a
    color: lvivier
    text-decoration: none
  .title a:hover
    border-bottom: 1px dotted #999
  .summary
    column(8)
    offset(2)


/**
 * Article
 */

article.post
  position: relative
  column(8)
  offset(2)

  p:last-of-type:after
    content:'◼'
    vertical-align: middle
    color: lvivier

a
  color: #00f
a:visited
  color: #551a8b
a:active
  color: lvivier

article.post header a
  color: #333
  text-decoration: none
article.post header h1
  color: lvivier
  font-size: (font-size * 2)
  line-height: (line-height * 1.5)
  margin-bottom: (line-height * 0.5)

article.post footer
  color: #999
  font-size: font-small-size

article.post aside.share
  font-size: font-small-size
  column(2)
  position: absolute
  left: (0 - column-width * 2 - gutter-width * 2.5)px
  margin-top: (line-height * .25)
  padding: (line-height * .5 - 1) 0
  line-height: (line-height * .75)
  border-top: 1px solid #f0f0f0
  border-bottom: 1px solid #f0f0f0

article.post h2,
article.post h3
  color: #7f8c8d

article.post h2
  font-size: (font-size * 1.4)
  margin-top: (line-height * 1.5)
  margin-bottom: (line-height / 2)

article.post h3
  margin-top: line-height


/**
 * Lists
 */

article ul
  margin: (line-height / 2) 0 (line-height / 2) 1em
  list-style-type: none

article ul li:before
  position: absolute
  left: 0
  content: "•"
  color: #aaa


/**
 * Figures
 */

article.post figure
  position: relative
  margin: line-height 0
article.post figure img
  width: 100%
article.post figure figcaption
  column(2)
  position: absolute
  top: 0
  right: (0 - column-width * 2 - gutter-width * 2.5)px
  color: #999
  font-size: font-small-size
  line-height: (line-height * .5)
  padding: (line-height * .5 - 1) 0
  border-top: 1px solid #f0f0f0
  border-bottom: 1px solid #f0f0f0


/**
 * Blockquote
 */

article.post blockquote
  text-indent: -.4em
  font-size: (font-size * 1.15)
  font-weight: normal
  text-align: justify
  margin: (line-height) (0px - column-width * 2 - gutter-width * 2)
