
/**
 * Dependencies
 */

@import './grid'
@import './vars'

/**
 * Share icons
 */

ul.shareicons
  margin-top: -(line-height * .25)
  margin-right: 1.2em
  margin-bottom: (line-height)
  list-style-type: none

  li
    position: relative

  a:before
    color: #999
    display: block
    position: absolute
    left: -1.2em
    line-height: (line-height * .8)
    transition: color .3s

  a
    display: block
    padding: (line-height * .25) 0
    text-decoration: none
    border-bottom: none
    transition: color .3s, text-shadow .2s
    color: #aaa
  a:hover
    color: #eee
    transition: text-shadow 1.2s
    text-shadow: 0 0 44px #FFF

    span
      border-bottom: 1px dotted #666

  .icon-linkedin:hover:before
    color: color-linkedin
  .icon-twitter:hover:before
    color: color-twitter
  .icon-facebook:hover:before
    color: color-facebook
  .icon-rdio:hover:before
    color: color-rdio
  .icon-github:hover:before
    color: invert(color-github)
  .icon-instagram:hover:before
  .icon-email:hover:before
    color: #fec
  .icon-foursquare:hover:before
    color: #a4ea45
