
/**
 * Typefaces
 */

lato = 'Lato', sans-serif
mono = 'Ubuntu Mono', monospace

font-small-size = 13px
font-med-size = 16px
font-size = 22px
line-height = 36px

lvivier = #e74c3c

/**
 * Brand colours
 */

color-facebook        = #3b5998
color-foursquare      = #25a0ca
color-github          = #171515
color-html5           = #ec6231
color-instagram       = #634d40
color-linkedin        = #0e76a8
color-quora           = #a82400
color-rdio            = #008fd5
color-rss             = #ee802f
color-stackoverflow   = #ef8236
color-tumblr          = #34526f
color-twitter         = #00acee
color-vimeo           = #86c9ef
color-youtube         = #c4302b
