!!! 5
html(lang= locals.lang || 'en')
  head
    meta(charset='utf-8')
    block meta
      if locals.meta
        each content, name in locals.meta
          meta(name= name, content= content)
    title= page.title
    include partials/styles
  body
    header
      div.layout
        block header
          a(href=locals.root)
            h1.logo luke vivier

    section(role='main')
      div.layout
        block content

    include partials/footer
