!!! 5
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name="google-site-verification",
         content="wSa31lNSwA4L50Wm7LD6yqZzn29TUgAwQMjtxQNyel8")
    include partials/styles
    title= page.title
  body
    header
      div.layout
        block header
          a(href=locals.root)
            h1.logo luke vivier

    section(role='main')
      div.layout
        block content

    include partials/footer
  script(src=locals.root + 'js/prism.js')
